# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Screenshots
screenshots/

# Temporary audio
*.mp3

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Cache
.cache/